/PL5/Exercicio5/nbproject/private/
/PL5/Exercicio5/build/
/PL5/Exercicio4/nbproject/private/
/PL6/ExDemonstrativo1/nbproject/private/
/PL6/Exercicio1/nbproject/private/
/PL6/Exercicio3/nbproject/private/
/PL6/Exercicio3/build/
/PL6/Exercicio3/dist/
/PL6/ExDemonstrativo1/build/
/PL6/ExDemonstrativo1/dist/
/PL6/Exercicio2/nbproject/private/
/PL6/Exercicio2/build/
/PL6/Exercicio4/nbproject/private/
/PL6/Exercicio4/build/
/PL6/Exercicio5/nbproject/private/
/PL6/Exercicio5/build/
/PL6/Exercicio6/nbproject/private/
/PL6/Exercicio6/build/
/PL6/ExercicioC4/nbproject/private/
/PL6/ExercicioC4/build/